@using CA2.Components.Layout
@using CA2.Code
@using System.Text.Json
@using Microsoft.AspNetCore.Mvc
@inject IJSRuntime JS

@if(books != null)
{
    <div class="books">
        <div class="bookList">
         @foreach (Book book in books)
        {
            <BookDisplay BookToDisplay="@book"></BookDisplay>
        }
        </div>
        <div class="exportButton">
            <button @onclick="ExportToFile">Export to File</button>
        </div>
    </div>
}



@code {
    [Parameter]
    public Book[] books { get; set; }

    public async Task ExportToFile()
    {
        //Create JSON file and download
        //Based on https://stackoverflow.com/a/40443939
        string fileName = "Exports/books.json";
        string jsonString = JsonSerializer.Serialize(books);

        System.IO.File.WriteAllText(fileName, jsonString);
    }
}
