@using CA2.Code

<div class="tagList">
	<button @onclick="AddTestTags">Add Test Tags</button>
	@if(Tags != null)
	{
		@foreach(string tag in Tags)
		{
			<p class="tagBox" @onclick="() => ChangeTag(tag)">@tag</p>
		}
	}
</div>

@code {
	[Parameter]
	public string[]? Tags { get; set; }

	//All use of cascading parameters and event callbacks based on https://stackoverflow.com/a/76938304
	[CascadingParameter(Name = "SelectedTag")]
	string? SelectedTag { get; set; }

	[Parameter]
	public EventCallback<Data> OnSelectedTagChanged { get; set; }

	async Task ChangeSelectedTag(string tag)
	{
		SelectedTag = tag;
		await OnSelectedTagChanged.InvokeAsync(new Data(SelectedTag, Tags));
	}

	public async void ChangeTag(string tag)
	{
		await ChangeSelectedTag(tag);
	}

	private void AddTestTags()
	{
		Tags = ["one", "two", "three"];
	}

}
