@page "/BookFinder"
@using CA2.Code

<h3>Component</h3>

<button @onclick="MakeBookRequest">Make book request</button>
<button @onclick="MakeYoutubeRequest">Make Youtube request</button>

@code {
	BookService bookService = new();
	YoutubeService youtubeService = new();

	public void MakeBookRequest()
	{
		Console.WriteLine("Making request");
		var response = bookService.getBooks("Cooking");
		Console.WriteLine(response.Content);
	}

	public void MakeYoutubeRequest()
	{
		Console.WriteLine("Making request");
		var response = youtubeService.getVideo("https://www.youtube.com/watch?v=_2cbf1ixygk");
		Console.WriteLine(response.Content);
	}
}
