@page "/BookFinder"
@using CA2.Code
@using CA2.Components

<h3>Component</h3>

<button @onclick="MakeBookRequest">Make book request</button>
<button @onclick="MakeYoutubeRequest">Make Youtube request</button>

<input id="youtubeURLInput" type="text" @bind-value="youtubeURL"/>
<button id="searchButton" @onclick="MakeYoutubeRequest">Go</button>

<CA2.Components.Layout.BookList></CA2.Components.Layout.BookList>

@code {
	BookService bookService = new();
	YoutubeService youtubeService = new();

	string youtubeURL = "";

	public void MakeBookRequest()
	{
		Console.WriteLine("Making request");
		var response = bookService.getBooks("Cooking");
		Console.WriteLine(response.Content);
	}

	public void MakeYoutubeRequest()
	{
		if(youtubeURL.Equals(""))
		{
			youtubeURL = "https://www.youtube.com/watch?v=_2cbf1ixygk";
		}

		Console.WriteLine("Making request");
		var response = youtubeService.getVideo(youtubeURL);
		Console.WriteLine(response.Content);
	}
}
