@page "/BookFinder"
@using CA2.Code
@using CA2.Components

<h3>Component</h3>

<button @onclick="MakeBookRequest">Make book request</button>

<CascadingValue Value="videoTags" Name="VideoTagsValue">
	<CA2.Components.Layout.VideoFinder OnTagsChanged="@OnTagsChanged"></CA2.Components.Layout.VideoFinder>
</CascadingValue>


<CA2.Components.Layout.BookList></CA2.Components.Layout.BookList>

@code {
	BookService bookService = new();
	string[] videoTags;

	public void MakeBookRequest()
	{
		Console.WriteLine("Making request");
		var response = bookService.getBooks("Cooking");
		Console.WriteLine(response.Content);
	}

	public void Print(string input)
	{
		Console.WriteLine(input);
	}

	private void OnTagsChanged(string[] tags)
	{
		videoTags = tags;
		foreach(string tag in tags)
		{
			Console.WriteLine(tag);
		}
	}
}
