@page "/"
@using CA2.Code
@using CA2.Components
@using Newtonsoft.Json.Linq

<div class="content">
	<h3 id="title">Book Finder</h3>

	<!-- <button @onclick="() => MakeBookRequest()">Make book request</button> -->

	<CascadingValue Value="videoTags" Name="VideoTagsValue">
		<CA2.Components.Layout.VideoFinder OnTagsChanged="@OnTagsChanged"></CA2.Components.Layout.VideoFinder>
	</CascadingValue>

	<CascadingValue Value="selectedTag" Name="SelectedTag">
		<CA2.Components.Layout.TagList Tags="videoTags" OnSelectedTagChanged="@OnSelectedTagChanged"></CA2.Components.Layout.TagList>
	</CascadingValue>

	<CA2.Components.Layout.BookList books="@books"></CA2.Components.Layout.BookList>
</div>


@code {
	BookService bookService = new();
	string testTag = "Cooking";
	Book[]? books;
	string[]? videoTags;
	string? selectedTag;

	public void MakeBookRequest(string tag = "Cooking")
	{
		Console.WriteLine("Making request");
		var response = bookService.getBooks(tag);
		books = bookService.parseRespone(JObject.Parse(response.Content));
	}

	public void Print(string input)
	{
		Console.WriteLine(input);
	}

	private void OnTagsChanged(string[] tags)
	{
		videoTags = tags;
		foreach(string tag in tags)
		{
			Console.WriteLine(tag);
		}
	}

	private void OnSelectedTagChanged(Data data)
	{
		selectedTag = data.SelectedTag;
		//The content of videoTags will be lost, so it needs to be set again here
		videoTags = data.Tags;
		Console.WriteLine($"Selected Tag is now: {data.SelectedTag}");
		MakeBookRequest(data.SelectedTag);
	}
}
